.carousel-img{
    width: 100%;
    height: 500px;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
  }
  
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .left-arrow {
    left: 10px; /* Adjust as needed */
    font-size: xx-large;
  }
  
  .right-arrow {
    right: 10px; /* Adjust as needed */
    font-size: xx-large;
  }
  